
{% extends 'base.html' %}
{% block title %} EXAMPLES {% endblock title %}
{% block content %}
    <h1>WELCOME TO EXAMPLES</h1>
<p>Цикл for:</p>
<ul>
{% for friend  in friends %}
    <li>{{ friend }}</li>
{% endfor %}
</ul>
<p>Пример строки:</p>
{{demo}}
<p>Пример словаря:</p>
<ul>
{% for key, value in dict_example.items %}
    {% if key == 'hobbies' %}
    <li>{{key}} :
        <ol>
            {% for v in value %}
            <li>{{v}}</li>
            {% endfor %}
        </ol>
    </li>
    {% else %}
    <li>{{key}} : {{value}}</li>
    {% endif %}
{% endfor %}
</ul>
{% endblock content %}